@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

body {
    background: hsl(218, 23%, 16%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice-title{
    color: hsl(150, 100%, 66%);
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#advice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: hsl(217, 19%, 24%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    height: 250px;
    padding: 2rem;
    gap: 1rem;
    position: relative;
}

.lines-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
}

.lines-container .horizontal-line{
    width: 40%;
    height: 1px;
    background: #fff;
    display: flex;
}

.lines-container .vertical-line{
    width: 5px;
    height: 10px;
    background: #fff;
    display: flex;
    border-radius: 5px;
}

.generator-btn{
    position: absolute;
    top: 90%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: hsl(150, 100%, 66%);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.generator-btn:hover{
    box-shadow: hsl(193, 38%, 86%) 0px 7px 29px 0px;
}

.generator-btn i{
    font-size: 1.2rem;
    font-weight: bold;
}

.advice{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


@media screen and (max-width: 468px){
    #advice-container {
        width: 90%;
        height: auto;
    }
}